@import"./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root{
    --light-brown: #EEE7E1;
    --Dark-brown: #443434;
    --black-brown: #1E1E1E;
    --highlighted-nav: #866961;
    --border-brown: #D9D9D9;
    --light-dark-brown: #A0847C;
    --body-brown: #BA8F8F;
    --background-black: #252521;
    --splash-brown: #53473d;
    --faint-black:  #3b3a38;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-black);
    color: #FFFFFF;
}
#Header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--body-brown);
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: var(--light-dark-brown);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: var(--border-brown);
}

nav ul li a:hover::after{
     width: 100%;
}
.theme{
  position: absolute;
  margin-top: 2px;
}
.icons{
    display: grid;
}
.git{
    margin-top: 285px;
    margin-left: 48px;
}
.mail{
    margin-top: -48px;
    margin-left: 50px;
}
.linkedin{
    margin-top: -74px;
    margin-left: 52px;
}
.home-left{
    display: flex;
    flex-direction: row;
}
.header-text{
    margin-top: 45%;
    font-size: 30px;
    margin-left: 204px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: var(--highlighted-nav);
}
.sub-header{
    display: flex;
    flex-direction: row;
}
.my-pic{
    margin-top: 145px;
    margin-left: 122px;
    width: 70%;
}
.bubbles{
    display: flex;
}
.bub1{
    position: absolute;
    margin-top: -513px;
    margin-left: 859px;
}
.bub2{
    position: absolute;
    margin-top: -604px;
    margin-left: 1384px;
}
.bub3{
    position: absolute;
    margin-top: 9px;
    margin-left: 369px;
}
.bub4{
    position: absolute;
    margin-top: 100px;
    margin-left: 41px;
}

/*----------------about me ---------------*/
.main-section2{
    display: flex;
    flex-direction: row;
}

.container-about{
    padding: 80px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.background-about{
    position: relative;
    margin-top: 204px;
    margin-left: 272px;
    width: 500px;
}

.about-col-1{
    flex-basis: 35%;
}
.about-me{
    margin-top: 149px;
    margin-left: 162px;
    font-size: 60px;
    font-weight: 700;
    color: var(--highlighted-nav);
}
.body-about{
    font-size: 25px;
    color: var(--border-brown);
    line-height: 25px;
}
.body-about1{
    margin-left: 161px;
    margin-top: 10px;
}
.body-about2{
    margin-left: 161px;
    margin-top: 10px;
}
.body-about3{
    margin-left: 161px;
    margin-top: 10px;
}
.body-about4{
    margin-left: 161px;
    margin-top: 10px;
}
.tab-titles{
    display: flex;
    margin: 36px 0 40px;
}
.tab-links{
    margin-left: 161px;
    margin-right: -106px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: var(--highlighted-nav);
}
.tab-links:hover{
    color: var(--light-dark-brown);
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--light-dark-brown);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents{
    margin-left: 158px;
}

.tab-contents ul li{
    list-style: none;
    font-size: 20px;
    margin-top: 25px;
    line-height: 30px;

}
.tab-contents ul li span{
    color: var(--light-dark-brown);
    font-size: 16px;
    
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*------------------------SERVICES------------ ---------------*/
#services{
    padding: 146px 0;
}
.bub-ser1{
    position: absolute;
   margin-left: 717px;
   margin-top: -104px;
}
   
.bub-ser2{
    position: absolute;
   margin-left: 1361px;
   margin-top: -64px;
}
.bub-ser3{
    position: absolute;
   margin-left: 663px;
   margin-top: 648px;
}
.bub-ser4{
    position: absolute;
   margin-left: 1107px;
   margin-top: 698px;
}

.my-services{
    margin-top: 11px;
    margin-left: 2px;
    font-size: 60px;
    font-weight: 700;
    color: var(--highlighted-nav);
}
.services-list{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #3b3a38;
    padding: 50px;
    font-weight: 300;
    border-radius: 10px;
    transition: bacground 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--body-brown);
}
.services-list div h2{
    margin-bottom: 10px;
    font-weight: 600;
}
.services-list div p{
    width: 80%;
    font-size: 18px;
    color: var(--body-brown);
    font-weight: 100;
}
.services-list div a{
    text-decoration: none;
    color: var(--border-brown);
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: var(--splash-brown);
    transform: translateY(-10px);
}
#portfolio{
    padding: 50px 0;

}
.work-list{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),var(--splash-brown));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0, 40px;
    text-align: center;
    transition: height 0.5s ;
}
.layer p{
    width: 60%;
}
.layer h3{
    font-weight: 700;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: ;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform:scale(1.1);
}

.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--highlighted-nav);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--body-brown);
    transition: background 0.5s ;
}
.btn:hover{
   background: var(--splash-brown);
}

/*--------------------------------contact----------------------------------*/

.contact-left{
      flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
   margin-top: 30px;
}
.contact-left p i {
    color: var(--highlighted-nav);
    margin-top: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 45px;
}
.social-icons a{
     text-decoration: none;
     font-size: 30px;
     margin-right: 15px;
     color: #ababab;
     display: inline-block;
     transition: transform 0.5s;
}

.social-icons a:hover{
    color: var(--highlighted-nav);
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    padding: 21px 55px;
    background-color: var(--highlighted-nav);
    color: var(--border-brown);
}
.btn.btn2:hover{
    background-color: var(--body-brown);
    color: var(--Dark-brown);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--faint-black);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--light-brown);
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/*--------------------------------copyright---------------------------------*/

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--faint-black);
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: var(--highlighted-nav);
}
/*--------------css for small screen--------------*/
  nav .fa-sharp{
  display: none;
}


@media only screen and (max-width: 600px){
    .my-pic{
       margin-left: -189px;
       margin-top: 105px;
        width: 162px;
    }
    .header-text{
       margin-top: 100%;
       font-size: 16px;
       width: 100%;
    }
    .header-text h1{
        font-size: 25px;
        width: 212px;
       margin-left: -139px;
       text-align: center;
    }
    .bubbles-home{
        display: none;
    }
    .bubbles-about{
        display: none;
    }
    nav ul li{
        font-size: 25px;
    }
    nav .fa-sharp{
        display: block;
        font-size: 25px;
      }
      nav ul{
        background: var(--splash-brown);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        
      }
      nav ul li{
        display: block;
        margin: 25px;
      }
      nav ul .fa-sharp{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
      }
    
      .theme{
        margin-top: 489px;
        margin-left: 82px;
      }
      .git{
        width: 20px;
        margin-top: 83px;
      }
      .mail{
        width: 20px;
        margin-top: -45px;
      }
      .linkedin{
        width: 20px;
        margin-top: -75px;
      }
      .icons{
        margin-left: -40px;
      }
      .soft{
        font-size: 14px;
        margin-top: 35px;
        margin-left: -108px;
        text-align: center;
        width: 150px;
      }
      .logo{
        width: 58px;
      }
      
      .background-about{
        width: 211px;
        margin-top: -219px;
        margin-left: 100px;
      }
    .about-me{
        font-size: 40px;
        margin-top: 72px;
        margin-left: 128px;
    }
    .body-about{
        font-size: 16px;
        font-weight: 500;
        margin-left: -118px;
    }
    .tab-titles{
       font-size: 16px; 
       margin-left: -120px;
    }
    
    .tab-contents ul li span{
        font-size: 16px;
        ;
    }
    .tab-contents ul li{
        font-size: 14px;
    }
    .tab-contents{
        margin-left: 41px ;
    }
    .my-services{
        font-size: 40px;
        margin-top: 1px;
        margin-left: 2px;
    }
    .contact-left h1{
        font-size: 30px;
    }
    .contact-left p{
        width: 200px;
    }
    .btn{
        width: 300px;
        text-align: center;
    }
    .social-icons{
        margin-left: 63px;
       
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}